*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}
.container{
    background-color: antiquewhite;
    max-width: 900px;
    margin: 0 auto;
}

h1{
    font-size: 1.5rem;
    padding-bottom: .5rem;
}
h3{
    font-size: 1.2rem;
    padding-bottom: .5rem;
}